{% extends "base.html" %}

{% block title %}Lecture4All - Help{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="text-box p-3">
        <h2 class="mb-4">Help</h2>
        <p class="mb-3">Lecturer4All hilft dir, Erklärungen in Lecture2Go Videos zu finden. 
            Navigiere zur Startseite, gib deine Frage ein und erhalte passende Erklärungen. Mit dem Shorts Toggle kannst du wählen, ob du erstmal eine Übersicht an Shorts siehst, um das passende Video auszuwählen. Deine Frage kannst du via Keyboard Input oder Spracheingabe stellen.</p>
        <p>Wenn du Fragen zum Projekt hast, kannst du dich an viktoria.wrobel@studium.uni-hamburg.de wenden.</p>
    </div>
</div>
{% endblock %}
